node_modules
frontend/node_modules
backend/.venv
frontend/dist
frontend/.vite
*.pyc
__pycache__
.git
*.log
venv
dist
build
frontend/.idea
frontend/.vscode
frontend/.DS_Store
frontend/src/lib
frontend/package-lock.json
backend/backend.log
backend/code_interview.db
.*
